# Since esphome 2024.12, a fork (by esphome) of one of the required esp32 packages
# is now stored in the .platformio dir created by esphome.
# So we should use that .platformio dir instead of the official
# .platformio dir created by platformio.
# See  https://esphome.io/changelog/2024.12.0/
# 
# If this is not set, will default to "$PWD/.platformio".
DOT_PLATFORMIO=/path/to/esphome/.platformio

# Where to store output from tests and builds initiated from within this project.
# Defaults to "$PWD/.pio".
# DOT_PIO

# Where the esphome source is found (see compose.yml).
# Defaults to /esphome (within the esphome docker image).
# SRC_DIR

# Which esphome docker image to use.
ESPHOME_VERSION=2025.9.0

